<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='layout_style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>{{title}}</title>
    
    {%block head%}
    {%endblock head%}
</head>
<body>
    
    <nav>
      <div class="logo">
         AI Based Natural Disaster Analysis
      </div>
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
      <i class="fas fa-bars"></i>
      </label>
      <ul class="nav_ul">
         <li><a class="{{'active' if active_page == 'home'}}" href="{{url_for('home')}}">Home</a></li>
         <li><a class="{{'active' if active_page == 'intro'}}" href="{{url_for('intro')}}">Intro</a></li>
         <li><a class="{{'active' if active_page == 'launch'}}" href="{{url_for('launch')}}">Open Web Cam</a></li>
        </ul>
   </nav>

    {%block body%}
    {%endblock body%}

    <footer class="footer foot">
      <div class="container">
                      <div class="footer-col">
                  <h4></h4>
                  
              </div>
              
              
          </div>
      </div>
  </footer>

</body>
</html>